In [4]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 

import re 
from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('D:/Github Files/Quora_question_Pairs/Notebook/Data/train.csv')

In [8]:
new_df = df.sample(30000, random_state=2)

In [9]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
398782,398782,496695,532029,What is the best marketing automation tool for...,What is the best marketing automation tool for...,1
115086,115086,187729,187730,I am poor but I want to invest. What should I do?,I am quite poor and I want to be very rich. Wh...,0
327711,327711,454161,454162,I am from India and live abroad. I met a guy f...,T.I.E.T to Thapar University to Thapar Univers...,0
367788,367788,498109,491396,Why do so many people in the U.S. hate the sou...,My boyfriend doesnt feel guilty when he hurts ...,0
151235,151235,237843,50930,Consequences of Bhopal gas tragedy?,What was the reason behind the Bhopal gas trag...,0

In [46]:
# from nltk.tokenize import word_tokenize
# sent = [word_tokenize(word.lower()) for word in new_df['question1']] 
# word = []
# uniq_let = set([let for w in sent for x in w for let in x])
from nltk.tokenize import word_tokenize
from itertools import chain

# Tokenize all question in lowecase 
tokenized_q1 = new_df['question1'].astype(str).str.lower().apply(word_tokenize)
tokenized_q2 = new_df['question2'].astype(str).str.lower().apply(word_tokenize)

combined_tokens = pd.concat([tokenized_q1, tokenized_q2])

# Flatten to get all words
all_tokens = chain.from_iterable(combined_tokens)

# Flatten further to get all characters
all_letters = chain.from_iterable(all_tokens)

uniq_let = set(all_letters)

In [47]:
uniq_let

{'!',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 '{',
 '|',
 '}',
 '~',
 '£',
 '¥',
 '®',
 '°',
 '±',
 '²',
 '´',
 '×',
 'à',
 'á',
 'â',
 'ã',
 'ä',
 'å',
 'ç',
 'è',
 'é',
 'ë',
 'ì',
 'í',
 'ñ',
 'ô',
 'ö',
 '÷',
 'ú',
 'û',
 'ı',
 'ń',
 'ū',
 '̇',
 'ά',
 'α',
 'ε',
 'η',
 'ι',
 'κ',
 'λ',
 'μ',
 'ν',
 'ο',
 'π',
 'ρ',
 'ς',
 'σ',
 'τ',
 'χ',
 'ا',
 'ت',
 'ر',
 'س',
 'ص',
 'ظ',
 'ع',
 'غ',
 'ف',
 'ل',
 'م',
 'ه',
 'و',
 'ي',
 'ی',
 'ं',
 'ऊ',
 'ए',
 'क',
 'च',
 'ज',
 'ट',
 'त',
 'थ',
 'द',
 'न',
 'प',
 'भ',
 'म',
 'य',
 'र',
 'व',
 'श',
 'ष',
 'स',
 'ह',
 'ा',
 'ि',
 'ी',
 'ु',
 '्',
 'ற',
 'வ',
 'ி',
 'ெ',
 '்',
 'ก',
 'ง',
 'ต',
 'น',
 'ฟ',
 'ม',
 'ร',
 'ล',
 'ว',
 'ั',
 'า',
 'แ',
 'ไ',
 '้',
 'ἶ',
 '\u200b',
 '–',
 '—',
 '‘',
 '’',
 '“',
 '”',
 '•',
 '…',
 '\u202a',
 '\u202c',
 '′',
 '€',
 '₹',
 'ℝ',
 '™',
 '∂',
 '√',
 '∪',
 '∫',
 '≜',
 '≤',
 '⊂',
 '⊆',
 '➰',
 'あ',
 'い',
 'か',
 'く',
 'こ',
 'ご',
 'さ',
 'ざ',
 'し',
 'す',
 'た',
 'て',
 'で',
 'と',
 'な',
 'の',
 'は',
 'び',
 'ま',
 'ら',
 'る',
 'イ',
 'ト',
 'ポ',
 'ン',
 '一',
 '三',
 '不',
 '专',
 '么',
 '了',
 '事',
 '二',
 '些',
 '人',
 '什',
 '以',
 '会',
 '何',
 '來',
 '傷',
 '儿',
 '兔',
 '入',
 '內',
 '几',
 '出',
 '分',
 '則',
 '功',
 '卷',
 '厚',
 '可',
 '吃',
 '向',
 '啪',
 '喝',
 '回',
 '地',
 '场',
 '壁',
 '多',
 '大',
 '天',
 '太',
 '好',
 '如',
 '子',
 '学',
 '封',
 '少',
 '居',
 '平',
 '年',
 '建',
 '形',
 '往',
 '很',
 '心',
 '思',
 '愁',
 '意',
 '戏',
 '成',
 '抽',
 '插',
 '收',
 '无',
 '旮',
 '有',
 '本',
 '柳',
 '核',
 '栽',
 '横',
 '民',
 '水',
 '沓',
 '法',
 '港',
 '游',
 '澳',
 '百',
 '的',
 '知',
 '科',
 '筋',
 '簷',
 '粘',
 '统',
 '缘',
 '能',
 '脑',
 '色',
 '花',
 '荫',
 '萌',
 '行',
 '袋',
 '證',
 '走',
 '転',
 '轴',
 '辣',
 '进',
 '迷',
 '逆',
 '通',
 '那',
 '阿',
 '飛',
 '香',
 '高',
 '\ufeff',
 '（',
 '）',
 '，',
 '？'}

In [53]:
def preprocess(q): 

    q = str(q).lower().strip()

    # Replace special characters with their string equivalents 
    q = q.replace('%', 'percent')
    q = q.replace('$', 'dollor')
    q = q.replace('₹', ' rupee ')
    q = q.replace('€', ' euro ')
    q = q.replace('@', ' at ')

    q = q.replace('[math]','')

    # Replacing some numbers with string equivalents (not perfect, can be done better to account for more cases)
    q = q.replace(',000,000,000 ', 'b ')
    q = q.replace(',000,000 ', 'm ')
    q = q.replace(',000 ', 'k ')
    q = re.sub(r'([0-9]+)000000000', r'\1b', q)
    q = re.sub(r'([0-9]+)000000', r'\1m', q)
    q = re.sub(r'([0-9]+)000', r'\1k', q)

    # Decontracting words 
    contractions = { 
    "ain't": "am not / are not / is not / has not / have not",
    "aren't": "are not / am not",
    "can't": "cannot",
    "can't've": "cannot have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he had / he would",
    "he'd've": "he would have",
    "he'll": "he shall / he will",
    "he'll've": "he shall have / he will have",
    "he's": "he has / he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how has / how is / how does",
    "I'd": "I had / I would",
    "I'd've": "I would have",
    "I'll": "I shall / I will",
    "I'll've": "I shall have / I will have",
    "I'm": "I am",
    "I've": "I have",
    "isn't": "is not",
    "it'd": "it had / it would",
    "it'd've": "it would have",
    "it'll": "it shall / it will",
    "it'll've": "it shall have / it will have",
    "it's": "it has / it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she had / she would",
    "she'd've": "she would have",
    "she'll": "she shall / she will",
    "she'll've": "she shall have / she will have",
    "she's": "she has / she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so as / so is",
    "that'd": "that would / that had",
    "that'd've": "that would have",
    "that's": "that has / that is",
    "there'd": "there had / there would",
    "there'd've": "there would have",
    "there's": "there has / there is",
    "they'd": "they had / they would",
    "they'd've": "they would have",
    "they'll": "they shall / they will",
    "they'll've": "they shall have / they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we had / we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what shall / what will",
    "what'll've": "what shall have / what will have",
    "what're": "what are",
    "what's": "what has / what is",
    "what've": "what have",
    "when's": "when has / when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where has / where is",
    "where've": "where have",
    "who'll": "who shall / who will",
    "who'll've": "who shall have / who will have",
    "who's": "who has / who is",
    "who've": "who have",
    "why's": "why has / why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you had / you would",
    "you'd've": "you would have",
    "you'll": "you shall / you will",
    "you'll've": "you shall have / you will have",
    "you're": "you are",
    "you've": "you have"
    }

    q_decontracted = []
    for word in q.split(): 
        if word in contractions:
            word = contractions[word]
        q_decontracted.append(word)

    q = ' '.join(q_decontracted)
    q = q.replace("'ve", " have")
    q = q.replace("n't", " not")
    q = q.replace("'re", " are")
    q = q.replace("'ll", " will")

    # Remove HTML tags 
    q = BeautifulSoup(q)
    q = q.get_text()

    # remove punctutaions 
    pattern = re.compile('\W')
    q = re.sub(pattern, ' ',q).strip()
    
    return q

In [55]:

new_df['question1'] = new_df['question1'].apply(preprocess)
new_df['question2'] = new_df['question2'].apply(preprocess)

In [ ]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
398782,398782,496695,532029,what is the best marketing automation tool for...,what is the best marketing automation tool for...,1
115086,115086,187729,187730,i am poor but i want to invest what should i do,i am quite poor and i want to be very rich wh...,0
327711,327711,454161,454162,i am from india and live abroad i met a guy f...,t i e t to thapar university to thapar univers...,0
367788,367788,498109,491396,why do so many people in the u s hate the sou...,my boyfriend doesnt feel guilty when he hurts ...,0
151235,151235,237843,50930,consequences of bhopal gas tragedy,what was the reason behind the bhopal gas tragedy,0

In [57]:
new_df['q1_len'] = new_df['question1'].str.len() 
new_df['q2_len'] = new_df['question2'].str.len()

new_df['q1_num_words'] = new_df['question1'].apply(lambda row: len(row.split(" ")))
new_df['q2_num_words'] = new_df['question2'].apply(lambda row: len(row.split(" ")))


def common_words(row):
    w1 = set(map(lambda word: word.lower().strip(), row['question1'].split(" ")))
    w2 = set(map(lambda word: word.lower().strip(), row['question2'].split(" ")))    
    return len(w1 & w2)


def total_words(row):
    w1 = set(map(lambda word: word.lower().strip(), row['question1'].split(" ")))
    w2 = set(map(lambda word: word.lower().strip(), row['question2'].split(" ")))    
    return (len(w1) + len(w2))

In [58]:
new_df['word_common'] = new_df.apply(common_words, axis=1)
new_df['word_total'] = new_df.apply(total_words, axis=1)
new_df['word_share'] = round(new_df['word_common']/new_df['word_total'],2)
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share
398782,398782,496695,532029,what is the best marketing automation tool for...,what is the best marketing automation tool for...,1,75,76,13,13,12,26,0.46
115086,115086,187729,187730,i am poor but i want to invest what should i do,i am quite poor and i want to be very rich wh...,0,48,56,13,16,8,24,0.33
327711,327711,454161,454162,i am from india and live abroad i met a guy f...,t i e t to thapar university to thapar univers...,0,104,119,28,21,4,38,0.11
367788,367788,498109,491396,why do so many people in the u s hate the sou...,my boyfriend doesnt feel guilty when he hurts ...,0,58,145,14,32,1,34,0.03
151235,151235,237843,50930,consequences of bhopal gas tragedy,what was the reason behind the bhopal gas tragedy,0,34,49,5,9,3,13,0.23