In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
import os 
for root, dirs, files in os.walk(os.getcwd()):
    for file in files: 
        if 'train.csv' in file: 
            path = os.path.join(root, file)

In [11]:
df=pd.read_csv(path)
df.sample(5)

,id,qid1,qid2,question1,question2,is_duplicate
132865,132865,3737,212666,What is Kaufmich.com?,What is adooylabs.com?,0
251290,251290,365363,365364,What is the best position for first time sex?,What are the best positions for first time ana...,0
333553,333553,161114,2531,How do I hack someones wifi network without th...,How do I can hack wifi?,1
302857,302857,425904,425905,If Robert Baratheon had known that Maester Aem...,"Do you support nationalized ""use of force"" rul...",0
319744,319744,445197,445198,What are the macroeconomic impacts of demoneti...,How will demonetization impact property market?,0

In [13]:
new_df=df.sample(30000)

new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [14]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
130384,130384,209261,170404,How can I find a job at Google?,What should I do to land a job at Google? What...,0
165080,165080,256398,210111,Why are coral reefs beautiful?,What is a coral reef?,0
350827,350827,49404,479596,What is a suitable inpatient drug and alcohol ...,Which is a suitable inpatient drug and alcohol...,0
124479,124479,25162,26186,What are the safety precautions on handling sh...,What are the safety precautions on handling sh...,1
64468,64468,112029,112030,What is collection?,What are collective algorithms?,0

In [15]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
130384,How can I find a job at Google?,What should I do to land a job at Google? What...
165080,Why are coral reefs beautiful?,What is a coral reef?
350827,What is a suitable inpatient drug and alcohol ...,Which is a suitable inpatient drug and alcohol...
124479,What are the safety precautions on handling sh...,What are the safety precautions on handling sh...
64468,What is collection?,What are collective algorithms?

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=3000)

In [29]:
questions=list(ques_df['question1']) + list(ques_df['question2'])
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [28]:
# x = np.arange(16.0).reshape(4, 4)
# print(x)
# print()
# print(np.vsplit(x, 2))

[array([[0., 1., 2., 3.],
        [4., 5., 6., 7.]]),
 array([[ 8.,  9., 10., 11.],
        [12., 13., 14., 15.]])]